body{
    background-color: #cdcecf;
}

h1{
    background-color: #fcfbfb;
    text-align: center;
    margin:40px auto;
    padding: 8px;
    font-size: 45px;
}

div{
    /* background-color: aliceblue; */
    height: 18px;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    
}

.box-1{
    background-color: #2b85c4;
}

.box-2{
    background-color: #2692d1;
}

.box-3{
    background-color: #1e9ed9;
} 

.box-4{
    background-color: #33a8de;
}

.box-5{
    background-color: #55b5e6;
}

.box-6{
    background-color: #74c3ed;
}

.box-7{
    background-color: #8dccf0;
}


.box-8{

    background-color: #19b584;
}


.box-9{
    background-color: #f5aecd;
}


.box-10{
    background-color: #f59fc3;
}


.box-11{
    background-color: #f28db4;
}


.box-12{
    background-color: #f279a4;
}


.box-13{
    background-color: #f26b98;
}

.box-14{
    background-color: #f05689;
}

.box-15{
    background-color: #f03c81;
}